{
  "parser": "babel-eslint",
  "rules": {
    "no-template-curly-in-string": "warn",
    "brace-style": "warn",
    "no-console": "warn",
    "camelcase": "warn",
    "comma-spacing": ["warn", { "before": false, "after": true }],
    "no-floating-decimal": "warn",
    "no-magic-numbers": "warn",
    "no-multi-spaces": "warn",
    "no-multi-str": "warn",
    "jsx-quotes": ["warn", "prefer-single"],
    "key-spacing": ["warn", { "beforeColon": true }],
    "keyword-spacing": ["warn", { "before": true }],
    "lines-around-comment": ["warn", { "beforeBlockComment": true }],
    "max-len": ["warn", { "code": 140 }],
    "max-statements-per-line": ["warn", { "max": 3 }],
    "operator-assignment": ["warn", "always"],
    "quote-props": ["warn", "always"],
    "quotes": ["warn", "single"],
    "semi-spacing": "warn",
    "space-infix-ops": "warn",
    "no-confusing-arrow": "warn",
    "no-duplicate-imports": "warn",
    "no-useless-constructor": "warn",
    "no-useless-rename": "warn",
    "no-var": "error",
    "prefer-const": "warn",
    "prefer-template": "warn",
    "new-cap": "warn",
    "no-proto": "warn",
    "no-bitwise": "warn",
    "no-inline-comments": "warn",
    "no-mixed-operators": "warn",
    "no-multi-assign": "warn",
    "no-multiple-empty-lines": "warn",
    "no-nested-ternary": "warn",
    "no-trailing-spaces": "warn",
    "no-whitespace-before-property": "warn",
    "no-return-assign": "warn",
    "no-return-await": "warn",
    "no-self-compare": "warn",
    "no-sequences": "warn",
    "no-throw-literal": "warn",
    "no-unused-expressions": "warn",
    "no-use-before-define": "error",
    "strict": ["warn", "global"],
    "no-unused-vars": "warn",
    "react/prop-types": "warn",
    "react/button-has-type": "warn",
    "react/default-props-match-prop-types": "warn",
    "react/forbid-component-props": "warn",
    "react/no-typos": "warn",
    "react/no-unsafe": "warn",
    "react/no-unused-prop-types": "warn",
    "react/no-unused-state": "warn",
    "react/self-closing-comp": "warn",
    "react/void-dom-elements-no-children": "warn",
    "react/jsx-key": "warn",
    "react/jsx-no-useless-fragment": "warn",
    "react/jsx-pascal-case": "warn",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-multi-spaces": "warn",
    "react/jsx-tag-spacing": "warn",
    "react/jsx-wrap-multilines": "warn"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
