@use 'variables';
@import "~normalize-css";
@import "fonts.css";
@import "reset";

body {
  color: variables.$color;
  font-family: "RobotoRegular", "Al Bayan", sans-serif;
  font-size: var(--size);
}

main {
  display: flex;
  flex-direction: column;
}
